<template>

    <div class="row">

        <b-modal v-if="subAccount!=null"  size="lg" id="modalApiInfo" title="SUB ACCOUNT TOKEN">
            <p>Sub Account token: {{ this.subAccount.accountkey }}</p>

        </b-modal>

        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-12">
                   <h5 class="title"> Landing Pages
                       <div class="float-right">
                           <b-btn variant="primary" v-b-modal.modalApiInfo>Show Subaccount token</b-btn>
                       </div>
                   </h5>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>

        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                subAccount:null,
            }
        },

        mounted() {
            console.log('hello instapage manager');
            this.getUserAuthInfo();
        },
        methods: {

            getUserAuthInfo(){
                axios.get('/api/v1/users/me/subaccount').then(response=> {

                    this.subAccount=response.data;
                    this.getLandingPages();


                }).catch(error =>{
                    console.log(error.response);
                })
            },
            getLandingPages(){

                axios.get('/api/v1/landing-pages',{

                    headers: {
                        'accountkey': this.subAccount.accountkey,
                    }

                }).then(response=> {

                    console.log(response.data);

                }).catch(error =>{
                    console.log(error.response);
                })

            },

        }
    }
</script>
